{% extends 'base.html.twig' %}
{% block title %}Todos los contactos{% endblock %}
{% block body %}
    <h1>Contactos</h1>

    {% if app.user %} {# Si hay usuario que ha iniciado sesión... #}
        <div>
            Bienvenido, {{ app.user.username }} {{ app.user.email }} {# Mostramos su username y correo (si no tiene username, solo se mostrará el correo) #}
        </div>
        <br><br>
    {% endif %}

    <h2>Bienvenido a la web de contactos.</h2>
    <p>Página de inicio</p>
    
    <a href="{{ path('nuevo') }}">Añadir contacto</a> {# redirige hacia la API 'nuevo' para crear un nuevo contacto #}

    <ul>
    {% for contacto in contactos %}
        <li>
            <a href="{{ path('ficha_contacto', {'contacto': contacto.id}) }}">{{ contacto.nombre }}</a> {# redirige hacia la API 'ficha_contacto' para ver los datos del contacto #}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
